    * {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /* it counts height and width including padding */
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 113px;
}
.logo {
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border {
    border: 1px solid transparent;
    height: 50px;
}

.border:hover {
    border: 1px solid white;
}

/* box 2 */
.nav-address {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-first {
    color: #cccccc;
    font-size: 12px;
    margin-left: 15px;
}

.add-sec {
    font-size: 0.85rem;
    font-weight: bold;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

/* box 3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* box 4 */
.nav-lang {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 50px;
    font-size: 12px;
    font-weight: bold;
}

.dropdown {
    font-size: 8px;
    align-self: center;
    color: #cccccc;
}

/* box 5 */
.nav-signin, .nav-orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.nav-first {
    font-size: 12px;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: bold;
}

/* box 6 */
.nav-cart {
    display: flex;
    flex-direction:row;
    width: 50px;
    justify-content: space-between;
    align-items: start;
}

.cart {
    display: flex;
    flex-direction: column;    
}

.text {
    padding-top: 1.4rem;
    font-size: 1rem;
    font-weight: bold;
}

.nav-cart .count {
    font-size: 0.85rem;
    color: orange;
    text-align: center;
}

.nav-cart i {
    font-size: 20px;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.85rem;
    padding-left: 20px;

}

.panel-all {
    font-weight: bold;
}

.panel-options p {
    display: inline;
    margin-left: 15px;
}

.panel-options {
    width: 70%;
}

/* hero section  */
.hero-section {
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 80%;
}

.hero-message a {
    text-decoration: none;
    color: #007185;
}

/* box section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    border: 2px solid black;
    height: 360px;
    width: 23%;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}

.box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 13px;
}

.box-content p {
    color: #007185;
}

/* footer */
footer {
    margin-top: 15px;
}

.footer-panel-1 {    
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panel-2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

.footer-panel-2 ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footer-panel-3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.footer-panel-4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copyright {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}
